@{
  Layout = null;
}
<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/css/site.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    
    <title>Party!</title>
  </head>
  <body>
    <div class="m-2 p-2">    
      <div class="text-center">
         <h4>We're going to have an exciting party.</h4> <br />
        (To do: sell it better. Add pictures or something.)
      </div>
      <a asp-action="RsvpForm">RSVP Now!</a>
    </div>
  </body>
</html>
